<!DOCTYPE html>
<html>
  <head>
    {% include "includes/head.html" %}
    <link rel="stylesheet" type="text/css" href="{{ static_url }}css/main.css">
  </head>
  <body
  {%- if body_class %} class="{{body_class}}"{%- endif %}>
    {% block body %}
    {% include "includes/header.html" %}

    {% block main %}{% block content %}{% endblock %}{% endblock %}
    {% endblock body %}
    {% block scripts %}
      <script>
      {% block js_variables %}
      {% endblock js_variables %}
      </script>
      <script src="{{ static_url }}js/main.js"></script>
    {% endblock %}
<script>
  window.intercomSettings = {
    app_id: "bey83rgj"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/bey83rgj';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
  </body>
</html>