<!DOCTYPE html>
<html>
  <head>
    {% include "includes/head.html" %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    {% block body %}
    {% include "includes/header.html" %}

    {% block main %}{% block content %}{% endblock %}{% endblock %}
    {% endblock body %}
    <script>
    {% block js_variables %}
    {% endblock js_variables %}
    </script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>