{% extends "base.html" %}

{% block body %}

{% include "includes/header.html" %}

    <div class="container">
    {% block main %}

      <h3>
        {{ current_user.email }}
      </h3>

      <table class="table">
        <thead>
          <tr>
            <th>Typeform</th>
            <th>Total responses</th>
            <th>Most recent response</th>
          </tr>
        </thead>
        <tbody class="typeforms">
          {% for form in typeforms %}
          {% include "form_listing.html" %}
          {% endfor %}
        </tbody>
      </table>

    {% endblock main %}
    </div>
{% endblock body %}