<!DOCTYPE html>
<html>
<head>
  <title>Hello World</title>
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
<h1 id="{{ form.id }}">{{ form.title }}</h1>
<div class="form_data">
<ul class="form_nav">
  <li class="form_nav_item">
    <a href="{{ form.live_url }}" target="_blank">View live form</a>
  </li>
  <li class="form_nav_item">
    <a href="{{ form.edit_url }}">Edit form</a>
  </li>
</ul>
</div>
<table>
  <caption>
  Form responses
  <button class="load_new_responses">Check for new responses</button>
  </caption>
  <thead>
    <tr>
      <th>Received</th>
      <th>PDF</th>
    </tr>
  </thead>
  <tbody class="responses">
{% include "response_list.html" %}
  </tbody>
</table>

<script src="/static/js/main.js"></script>
</body>
</html>