{% extends "base.html" %}

{% block body %}
{% include "includes/flash_messages.html" %}
{% include "form_header.html" %}

    <div class="container">
      {% block main %}



      <div class="responses-header">
        <h3>
          Form responses
        </h3>
        <div class="reponses-actions">
          <button class="btn btn-primary load_new_responses">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            Check for new responses
          </button>
          <a class="btn btn-default" href="/responses.csv">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
            Download .csv
          </a>
        </div>
      </div>

      <table class="table">
        <caption>
        </caption>
        <thead>
          <tr>
            <th>Received</th>
            <th>PDF</th>
          </tr>
        </thead>
        <tbody class="responses">
          {% include "response_list.html" %}
        </tbody>
      </table>

      {% endblock main %}
    </div>
{% endblock body %}