{% extends "base.html" %}

{% block body %}

{% include "includes/header.html" %}

    <div class="container">
    {% block main %}

      <h1 class="main-call-to-action">
        Clear your record with help from the San Francisco Public Defender
      </h1>

      <p class="action-detail">
        You may be able to reduce or dismiss your past convictions
        in the San Francisco Public Defender's Clean Slate Program.
      </p>

      <a href="/sanfrancisco/" class="btn btn-primary btn-lg main-action">
        <span class="main-action-text">
          Apply to the Clean Slate Program
        </span>
      </a>

      <p class="action-help">
        If you apply today, you should hear back from the Public Defender by
        {{ custom_strftime("%B {S}, %Y", response_estimate) }}.
      </p>

    {% endblock main %}
    </div>
{% endblock body %}