{% extends "index.html" %}

{% block body %}

{% include "includes/header.html" %}


{% include "form_header.html" %}

    <div class="container">
    {% block main %}

     <div class="responses-header">
        <h3>
          Form responses
        </h3>
        <div class="reponses-actions">
          <button class="btn btn-primary load_new_responses">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            Check for new responses
          </button>
          <a class="btn btn-default" href="{{ url_for('form_filler.responses_csv', typeform_key=form.form_key) }}">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
            Download .csv
          </a>
        </div>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>Received</th>
            <th>PDF</th>
          </tr>
        </thead>

        <tbody class="responses">
{% include "response_list.html" %}
        </tbody>
      </table>


    {% endblock main %}
    </div> <!-- end container -->
{% endblock body %}

{% block js_variables %}
  var API_ENDPOINTS = {
    new_responses: "{{ url_for('form_filler.remote_responses', typeform_key=form.form_key) }}",
  };
{% endblock js_variables %}