{% extends "index.html" %}

{% block main %}
      <div class="responses-header">
        <h3 class="breadcrumb">
          <a class="backlink" href="{{ url_for('form_filler.responses', typeform_key=form.form_key) }}">form responses</a>
            →
          <span class="current">
            response {{ response.date_received }}
          </span>

        </h3>
      </div>

      <table id="response-{{ response.id }}" class="table response">
        <!-- loop through keys and write them out -->
      <tr class="reponse-attribute">
        <th>PDF</th>
        <td>{% include "pdf_button.html" %}</td>
      </tr>
      {% for key, value in response.answers.items() %}
      <tr class="reponse-attribute">
        <th>{{ key }}</th>
        <td>{{ value }}</td>
      </tr>
      {% endfor %}
      </table>

{% endblock main %}