        {% if current_user.is_authenticated %}
        <div class="auth-notice authenticated">
          <span class="message">Signed in as</span>
          <span class="username">{{ current_user.email }}</span>
          <a class="btn btn-sm logout_link" href="{{ url_for('user.logout') }}">Sign out</a>
        </div>
        {% else %}
        <div class="auth-notice not-authenticated">
          <a class="btn btn-sm login_link" href="{{ url_for('user.login') }}">Sign in</a>
        </div>
        {% endif %}